// Add Option Error
.add-option-error {
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
  color: $off-white;
  font-style: italic;
}

//Add Option
.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
  background-color: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  color: $off-white;
}