.option {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lighten($light-blue, 10%);
  padding: $l-size $m-size;
}
.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}
